<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Introdução VueJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://unpkg.com/vue'></script>
</head>
<body>
    <div id='app'>
        <gui-titulo v-bind:titulo='meuTitulo'></gui-titulo>
        <input type='text' v-model='meuTitulo'>

        <gui-tabela v-bind:titulos="['Titulo', 'Descrição', 'Link']" v-bind:registros='registros'></gui-tabela>
    </div>

    <script>
        Vue.component('gui-titulo', {
            props:['titulo'],
            template:'<h2>{{titulo}}</h2>'
        });

        Vue.component('gui-tabela', {
            props:['titulos', 'registros'],
            template:"<table style='width: 100%'>"+
                     "   <thead>"+
                     "      <tr>"+
                    "           <th v-for='titulo in titulos'>{{titulo}}</th>"+
                    "       </tr>"+
                    "   </thead>"+
                    "   <tbody>"+
                    "       <tr v-for='registro in registros'>"+
                    "           <td v-for='item in registro'>{{item}}</td>"+
                    "       </tr>"+
                    "   </tbody>"+
                    "</table>"
        });

        var app = new Vue({
            el:"#app",
            data:{
                meuTitulo:'Esse é o título',
                registros:[
                    {titulo:'Titulo 1', descricao:'Descrição 1', link:'link 1'},
                    {titulo:'Titulo 2', descricao:'Descrição 2', link:'link 2'},
                    {titulo:'Titulo 3', descricao:'Descrição 3', link:'link 3'},
                ]
            }
        });
    </script>
</body>
</html>